<div id="<%= dom_id issue %>">
  <p>
    <strong>Summary:</strong>
    <%= issue.summary %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= issue.body %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= issue.status %>
  </p>

  <p>
    <strong>Reporter:</strong>
    <%= issue.reporter %>
  </p>

</div>
