<p style="color: green"><%= notice %></p>

<h1>Issues</h1>

<div id="issues">
  <% @no_items = true %>
  <% @issues.each do |issue| %>
  <% @no_items = false %>
  <div class="each-item">
    <%= render issue %>
    <p>
      <%= link_to "Show this issue", issue %>
    </p>
  </div>
  <% end %>
</div>


<% if !@no_items && @offset > 0 %>
<%= link_to 'Prev Page', issues_path(offset: @offset - @pagesize), :data => {turbolinks: false}  %>
<% end %>

<% if !@no_items && @offset > 0 && @has_more %>
&nbsp; | &nbsp;
<% end %>

<% if !@no_items && @has_more %>
<%= link_to 'Next Page', issues_path(offset: @offset + @pagesize), :data => {turbolinks: false}  %>
<% end %>

<div>&nbsp;</div>
<%= link_to "New issue", new_issue_path, class: 'btn btn-primary'  %>
